<nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Payroll</a>
    </div>
     <% if current_user.has_role?(:admin) %>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i>Employee </span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/users_admin/new">New Employee</a></li>
            <li><a href="/users_admin">Employee</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Salary <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
             <li><a href="/salaries/new">salary</a></li>
           <li><a href="/salaries">salary list</a></li>
          </ul>
        </li>
      </ul>
    <form class="navbar-form navbar-right">
     <div class="form-group">
    <%= form_tag(users_admin_index_path, :method => "get", class: "form-control", role: "search") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search user" %>
    <%= submit_tag "Search", :name => nil, class: "" %>
    <% end %>
    </div>
    </form>
    <form class="navbar-form navbar-right">
       <%= link_to('LOGOUT', destroy_user_session_path, :method => :delete) %><span class="glyphicon glyphicon-log-out"></span>
      </form>
</nav>

<% if @user.blank? %>
  <h4>There are no recipes containing the term <%= params[:search] %>.</h4>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
     <div class="form-group ">
      <div class="alert alert-info">
              Please Wait...
      </div>
        <div class="alert alert-success" style="display:none;">
          <span class="glyphicon glyphicon-ok"></span> <b>Employee list</b>
        </div>
          <table class="table">
            <thead>
              <tbody>
                <tr>
                  <th>
                     Name
                  </th>
                  <th>
                      Email
                  </th>
                  <th>
                      Designation
                  </th>

                  <th>
                     Address
                  </th>
                  <th>
                      Phone no
                  </th>

                  <th>
                     Notes
                  </th>
                  <th>
                      Billable
                  </th>

                </tr>
                <% @user.each do |user| %>
                <tr class="warning">
                  <td>
                    <%= user.name %><a href="pd">
                  </td>
                  <td>
                    <%= user.email %>
                  </td>
                  <td>
                    <%= user.designation %>
                  </td>
                  <td>
                    <%= user.address %>
                  </td>
                  <td>
                    <%= user.phone_no %>
                  </td>
                  <td>
                    <%= user.notes %>
                  </td>
                  <td>
                    <%= user.billable %>
                  </td>
                  <td>
                    <%= link_to 'Edit', edit_users_admin_path(user) %>
                  </td>
                  <td>
                    <%= link_to 'Destroy', users_admin_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </thead>
      </table>
      <%#= paginate @user %>
      <%#= page_entries_info @user %>
    </div>
</div>
  </div>
  <button type="button" class=""><%= link_to 'Back', admin_path %>
       </button></p>

   <% end %>
</div>




