<nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Payroll</a>
    </div>
     <% if current_user.has_role?(:admin) %>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i>Employee </span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/users_admin/new">New Employee</a></li>
            <li><a href="/users_admin">Employee</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Salary <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
             <li><a href="/salaries/new">salary</a></li>
           <li><a href="/salaries">salary list</a></li>
          </ul>
        </li>
      </ul>
        <form class="navbar-form navbar-right">
       <%= link_to('LOGOUT', destroy_user_session_path, :method => :delete) %><span class="glyphicon glyphicon-log-out"></span>
      </form>
      <form class="navbar-form navbar-right">
     <div class="form-group">
    <%= form_tag(users_admin_index_path, :method => "get", class: "form-control", role: "search") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search user" %>
    <%= submit_tag "Search", :name => nil, class: "" %>
    <% end %>
    </div>
    </form>
    </div>
  </div>

</nav>

<br>
<h1><p align="center">
create new user</p></h1>

 <div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <%= form_for(@user, url: users_admin_index_path) do |f| %>


        <div class="row">
          <div class="col-md-2">

            <div class="form-group ">
              <p align="center"><label for="example-text-input" class="col-2 col-form-label">name</label></p>
            </div>
          </div>
        <div class="col-md-6">
          <div class="form-group">
            <p align="center"><%= f.text_field :name, placeholder:"Enter user name",class: "form-control" %></p>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-2">

            <div class="form-group ">
              <p align="center">
              <label for="example-text-input" class="col-2 col-form-label">email</label></p>

            </div>
          </div>
        <div class="col-md-6">
          <div class="form-group">
            <p align="center">
            <%= f.text_field :email, placeholder:"Enter user email",class: "form-control" %></p>
          </div>

        </div>
        </div>

        <div class="row">
          <div class="col-md-2">

            <div class="form-group ">
              <p align="center">
              <label for="example-text-input" class="col-2 col-form-label">password</label></p>

            </div>
          </div>
          <div class="col-md-6">
          <div class="form-group">
            <p align="center">
            <%= f.password_field :password, placeholder:"Enter password",class: "form-control" %></p>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-2">

            <div class="form-group ">
            <p align="center">
              <label for="example-text-input" class="col-2 col-form-label">start_date</label></p>

            </div>
          </div>
          <div class="col-md-6">
          <div class="form-group">
            <p align="center">
            <%= f.date_field :start_date, placeholder:"Enter start_date",class: "form-control" %></p>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-2">

            <div class="form-group ">
            <p align="center">
              <label for="example-text-input" class="col-2 col-form-label">end_date</label></p>

            </div>
          </div>
          <div class="col-md-6">
          <div class="form-group">
            <p align="center">
            <%= f.date_field :end_date, placeholder:"Enter end_date",class: "form-control" %></p>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-2">

            <div class="form-group ">
            <p align="center">
              <label for="example-text-input" class="col-2 col-form-label">address</label></p>

            </div>
          </div>
          <div class="col-md-6">
          <div class="form-group">
            <p align="center">
            <%= f.text_field :address, placeholder:"Enter address",class: "form-control" %></p>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-2">

            <div class="form-group ">
              <p align="center">
              <label for="example-text-input" class="col-2 col-form-label">phone_no</label></p>

            </div>
          </div>
        <div class="col-md-6">
          <div class="form-group">
            <p align="center">
            <%= f.text_field :phone_no, placeholder:"Enter user phone_no",class: "form-control" %></p>
          </div>

        </div>
        </div>
        <div class="row">
          <div class="col-md-2">

            <div class="form-group ">
              <p align="center">
              <label for="example-text-input" class="col-2 col-form-label">Designation</label></p>

            </div>
          </div>
        <div class="col-md-6">
          <div class="form-group">
            <p align="center">
            <%= f.text_field :designation, placeholder:"Enter user designation",class: "form-control" %></p>
          </div>

        </div>
        </div>
          <div class="col-md-2">
          <div class="col-md-6">


    <div class="">
          <p align="center">
            <%= f.submit "create" %></p>
            </div>
          </div>
          </div>
      <% end %><p align="center">
       <button type="button" class=""><%= link_to 'Back', admin_path %>
       </button></p>

    <div class="col-md-2"></div>
     <% end %>
</div>
